<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="http://127.0.0.1:5000/writealert" method="POST">
        <label for="pw">비밀번호:</label>
        <input type="text" id="pw" name="pw"><br><br>
        <label for="text">쓰기</label>
        <input type="text" id="text" name="text"><br><br>
        <input type="submit" value="Submit">
    </form>
    <script>



        
    </script>
</body>

</html>